// Colors
$white: #FFFFFF;
$content-bg: #FFF8EF;
$content-bg-9: #F6EFE6;
$content-bg-32: #DFD8CF;
$content-bg-46: #D1CAC1;
$button-stroke: #3E1007;
$link-color: #9C4619;
$font-color: #3C1F1D;
$font-color-75: #876A68;
